#shopCatalog{
  border: 1px solid var(--text-dark);
  margin-left: 2rem;
  padding: 1rem 0rem;
}

.availability-container{
  margin-top: 4rem;
  text-align: center;

  label{
    font-size: 2rem;
  }
}


.user-choice-availability{
 display: flex;
 justify-content: center;
 gap: 0 2rem;
 margin-top: 2rem;
}

.choice-box{
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  &__title{
    font-size: 1.3rem;
  }

  input{
    @media(width >= 1024px){
      cursor: pointer;
    }
  }
}

.error-message{
  display: none;
  padding-top: 3rem;
  color: #e64545;
}

.availability-images{
  align-items: flex-start;
  margin-top: 4rem;
}